<a href="/"><span>Back to Inventory</span></a>
<br>

<h1> New Sale </h1>

<form class = "new_form" action="/sales/new" method="post">

  <div class = "select_input">
    <label class = "form_label" for="record_title">Record:</label>
    <select class = "form_select" id="record_title" name="record_id" required>
      <option style="display:none" disabled selected value> -- Choose Record -- </option>
      <% for record in @records %>
      <option value="<%= record.id %>"><%= record.title %></option>
      <% end %>
    </select>
    <br>
  </div>

  <div class = "number_input">
    <label class = "form_label" for="sale_quantity">Sale Quantity:</label>
    <input class = "form_input" type="number" id="sale_quantity" name="sale_quantity" step="1" min="1" max="1000"/>
    <br>
  </div>

  <div class = "number_input">
    <label class = "form_label" for="overhead">Overhead (as a decimal):</label>
    <input class = "form_input" type="number" id="overhead" name="overhead" step="0.01" min="0" max="1"  value = "<%=Sale.provide_previous_overhead%>" />
    <br>
  </div>

  <div class = "button_input">
    <button>Save Sale</button>
  </div>
</form>
