<a href="/"><span>Back to Inventory</span></a>
<br>

<h1> New Sale for <%=@record.first.title%> </h1>

<form class = "new_form" action="/sales/<%= @record.first.id %>/new" method="post">

  <div class = "number_input">
    <label class = "form_label" for="sale_quantity">Sale Quantity:</label>
    <input class = "form_input" type="number" id="sale_quantity" name="sale_quantity" min="1" max="1000" step=1/>
    <br>
  </div>

  <div class = "number_input">
    <label class = "form_label" for="overhead">Overhead (as a decimal):</label>
    <input class = "form_input" type="number" id="overhead" name="overhead" step="0.01" min="0" max="1"  value = "<%=Sale.provide_previous_overhead%>" />
    <br>
  </div>

  <div class = "button_input">
    <button>Save Sale</button>
  </div>
</form>
