<a href="/"><span>Back to Inventory</span></a>
<br>

<h1> New Sale </h1>

<form class = "new_form" action="/sales/<%= @record.first.id %>/new" method="post">

  <div class = "number_input">
    <label class = "form_label" for="sale_quantity">Sale Quantity:</label>
    <input class = "form_input" type="number" id="sale_quantity" name="sale_quantity" min="1" max="1000"/>
    <br>
  </div>

  <div class = "button_input">
    <button>Save Sale</button>
  </div>
</form>
