<h1> New Record </h1>

<form action="/records/new" method="post">
  <label for="record_title">Title:</label>
  <input type="text" id="record_title" name="title" placeholder="e.g. The Wall"/>
  <br>
  <label for="record_artist">Artist:</label>
  <input type="text" id="record_artist" name="artist" placeholder="e.g. Pink Floyd"/>
  <br>
  <label for="record_genre">Genre:</label>
  <input type="text" id="record_genre" name="genre" placeholder="e.g. Rock"/>
  <br>
  <label for="record_description">Description:</label>
  <input type="text" id="record_description" name="description" placeholder="e.g. Released 1979"/>
  <br>
  <label for="record_stock_quantity">Stock Quantity:</label>
  <input type="number" id="record_stock_quantity" name="stock_quantity" min="1" max="1000"/>
  <br>
  <label for="record_buying_cost">Unit Price:</label>
  <input type="number" id="record_buying_cost" name="buying_cost" min="1" max="1000"/>
  <br>
  <label for="record_selling_price">Retail Price:</label>
  <input type="number" id="record_selling_price" name="selling_price" min="1" max="1000"/>
  <br>
  <label for="label_name">Label:</label>
  <select id="label_name" name="label_id">
    <% for label in @labels %>
    <option value="<%= label.id %>"><%= label.name %></option>
    <% end %>
  </select>
  <br>
  <button>Save Record</button>
</form>
