<a href="/"><span>Back to Inventory</span></a>
<br>

<h1> New Genre </h1>

<form class = "new_form" action="/genres/new" method="post">

  <div class = "text_input">
    <label class = "form_label" for="genre_name">Genre Name:</label>
    <input class = "form_input" type="text" id="genre_name" name="genre_name"/>
    <br>
  </div>

  <div class = "button_input">
    <button>Save Genre</button>
  </div>
</form>
