<a href="/"><span>Back to Inventory</span></a>
<br>

<h1> New Label </h1>

<form class = "new_form" action="/labels/new" method="post">

  <div class = "text_input">
  <label class = "form_label" for="label_name">Label Name:</label>
  <input class = "form_input" type="text" id="label_name" name="name"/>
  <br>
  <label class = "form_label" for="location">Label Location:</label>
  <input class = "form_input" type="text" id="location" name="location"/>
  <br>
  </div>

  <div class = "button_input">
  <button>Save Label</button>
  </div>
</form>
