<a href="/"><span>Back to Inventory</span></a>
<br>
<h1><%=@label.first.name%></h1>

  <table>
    <thead>
      <tr>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tr>
      <td><%=@label.first.location%></td>
    </tr>
  </table>

  <div class="show_button_collection">
  <form class="edit_button" action="/labels/<%= @label.first.id %>/edit" method="get">
    <input  type="submit" value="EDIT">
  </form>
  <form class="delete_button" action="/labels/<%= @label.first.id %>/delete" method="post">
    <input type="submit" value="DELETE">
  </form>
  <div>
