<a href="/"><span>Back to Inventory</span></a>
<br>

<h1> New Artist </h1>

<form class = "new_form" action="/artists/new" method="post">

  <div class = "text_input">
    <label class = "form_label" for="artist_name">Artist Name:</label>
    <input class = "form_input" type="text" id="artist_name" name="artist_name" required minlength="1"/>
    <br>
  </div>

  <div class = "button_input">
    <button>Save Artist</button>
  </div>
</form>
