.new_form {
  display: block;
  padding-top: 10px;
  text-align: center;
}

.text_input {
  display: inline-block;
  vertical-align: top;
}

.number_input {
  display: inline-block;
  vertical-align: top;
}

.select_input {
  display: inline-block;
  vertical-align: top;
}

.file_input {
  display: inline-block;
  vertical-align: top;
}

.button_input {
  display: block;
  padding-top: 20px;
  text-align: center;
}

.form_label {
  float: left;
  padding-bottom: 20px;
  padding-right: 20px;
}

.form_input {
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

.form_select {
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

.show_button_collection {
  display: block;
  text-align: center;
}

.edit_button {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}

.delete_button {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
