.all_links {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.sales_all {
  padding-right: 20px;
}

.labels_all {
  padding-left: 20px;
}

.new_links {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.record_new {
  padding-right: 20px;
}

.label_new {
  padding: 0px 20px 0px 20px;
}

.sale_new {
  padding-left: 20px;
}

.sort_index {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.album_art {
  width: 300px;
  height: 300px;
}

.none {
  text-align: center;
}
