body {
  background: black;
  background-size: 100%;
  color: white;
  padding: 0px;
  margin: 0px;
}

.header_image {
  display: block;
  margin-top: 10px;
  width: 100vw;
}

h1 {
  display: block;
  text-align: center;
}

a:link, a:visited, a:active {
  color: white;
}
/*Change the link on mouse hover*/
a:hover {
  opacity: 0.3;
  color: grey;
}
