html {
  height: 100%;
  box-sizing: border-box;
}

header {
  padding: none;
  margin: none;
  position: fixed;
  width: 100vw;
  height: 5vh;
  left: 0;
  top: 0;
}

.header_image {
  width: 100%;
  height: 100%;
}

footer {
  padding: none;
  margin: none;
  position: fixed;
  width: 100vw;
  height: 5vh;
  left: 0;
  bottom: 0;
}

.footer_image {
  width: 100%;
  height: 100%;
}


h1 {
  display: block;
}

div {
  display: block;
}

body {
  display: block;

  height:auto;
  min-height: 100vh;

  padding: 0px;
  margin: 0px;

  font-family: sans-serif;
  color: black;

  background-image: url('../images/design/background.png');
  background-color: white;
  background-size: 100%;

  text-align: center;
}

a:link, a:visited, a:active {
  color: black;
}
/*Change the link on mouse hover*/
a:hover {
  color: grey;
}
