table {
  width: 100vw;
  padding: 0px 30px 30px 30px;
}

td, th {
  text-align: center;
}

th {
  padding: 10px 10px 30px 10px;
  border: 2px solid white;
}

td {
  padding: 5px 10px 0px 10px;
  border: 2px solid white;
}
