<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Inventory</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
  <link rel="stylesheet" type="text/css" href="/styles/album_art.css">
  <link rel="icon" href="/images/design/record_icon.jpg" />
</head>
<header>
  <div class = "links">
  	<a class = "index_link" href="/sales/index"><span>View All Sales</span></a>
  	<a class = "index_link" href="/labels/index"><span>View All Labels</span></a>
  	<a class = "index_link" href="/artists/index"><span>View All Artists</span></a>
  	<a class = "index_link" href="/genres/index"><span>View All Genres</span></a>
  </div>
</header>
<body>
  <%= yield %>
</body>
<br>
<br>
<footer>
  <div class = "links">
  	<a class = "index_link" href="/records/new"><span>Add New Record</span></a>
  	<a class = "index_link" href="/sales/new"><span>Add New Sale</span></a>
  	<a class = "index_link" href="/labels/new"><span>Add New Label</span></a>
  	<a class = "index_link" href="/artists/new"><span>Add New Artist</span></a>
  	<a class = "index_link" href="/genres/new"><span>Add New Genre</span></a>
  </div>
</footer>
</html>
