<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inventory</title>
    <img src="/images/header_image.jpg" alt="Image of Vinyl"/>
    <br>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
