<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Inventory</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
  <link rel="stylesheet" type="text/css" href="/styles/album_art.css">
  <img class = "header_image" src="/images/design/header_image.jpg" alt="Image of Vinyl"/>
  <br>
  <br>
  <br>
  <br>
</head>
<header>
    <img class = "header_image" src="/images/design/header_image.jpg" alt="Image of Vinyl"/>
</header>
<body>
  <%= yield %>
</body>
<br>
<br>
<footer>
  <img class = "footer_image" src="/images/design/header_image.jpg" alt="Image of Vinyl"/>
</footer>
</html>
