<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Inventory</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <img class = "header_image" src="/images/design/header_image.jpg" alt="Image of Vinyl"/>
  <br>
</head>
<body>
  <%= yield %>
</body>
</html>
